<table>
  <tbody>
    <tr>
      <th>Notification Default URI for post request</th>
      <td><input type="text" id="settings_notification_default" 
                     value="<%= settings['uri_for_post_request'] %>" 
             name="settings[uri_for_post_request]" >
    </tr>
  </tbody>
</table>